<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="me.dev.oliver.youtubesns.mapper.UsersMapper">
  <!-- *는 되도록이면 피하자. 성능저하가 된다. -->

  <!-- id 회원 조회 -->
  <select id="getUser" resultType="UsersDto">
    SELECT id, user_id "userId", pw, name, email, addr, signup_date "signupDate", phone FROM users WHERE id=#{id}
  </select>

  <!-- 회원 추가 -->
  <insert id="insertUser" parameterType="UsersDto">
    INSERT INTO users (user_id , pw, name, email, addr, signup_date, phone)
    VALUES(#{userId}, #{pw}, #{name}, #{email}, #{addr}, now(), #{phone})
  </insert>

  <!-- 회원 비밀번호 변경 -->
  <update id="changePassword" parameterType="UsersDto">
    UPDATE users SET pw=#{pw} WHERE id=#{id}
  </update>

  <!-- 회원 삭제 -->
  <delete id="deleteUser" parameterType="int">
    DELETE FROM users WHERE id=#{id}
  </delete>

</mapper>
